//字級
$fz-s: 16px; //*1.5=24 *2=32 *3=48
$fz-m: 18px;

//字重
// $fw-xs: 100;
$fw-s: 300;
$fw-m: 400;
$fw-l: 500;
// $fw-xl: 700;
// $fw-xxl: 900;

//網站色調
$c1st: #fee101;
$c2nd: #122b88;
$c3rd: #2d7aff;
$c4th: #ffa415;

//動畫速度
$trsFast: all 0.2s;
$trsSlow: all 0.5s;